

{% extends 'index/base.html' %}
{% block content %}
<article class="post">
    <header>
        <div class="title">
            <h2><a href="#">{{ article.title }}</a></h2>
            <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
        </div>
        <div class="meta">
            <time class="published" datetime="2015-11-01">{{ article.date }}</time>
            <a href="#" class="author"><span class="name">{{ article.author.username }}</span><img src="../../static/images/avatar.jpg" alt="" /></a>
        </div>
    </header>
    <a href="#" class="image featured"><img src="../../static/images/pic01.jpg" alt="" /></a>
    <p>{{ article.textbody }}</p>
    <footer>
        <ul class="actions">
            <li><a href="/{{ article.id }}/edit/" class="button big">编辑</a></li>
            <li><a href="/delete/{{ article.id }}" class="button big">删除</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon fa-heart">28</a></li>
            <li><a href="#" class="icon fa-comment">128</a></li>
        </ul>
    </footer>
</article>

{% endblock %}